<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INGREDIENTES PARA PASTA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>

   <ion-item>
    <ion-label position="floating">Buscar</ion-label>
    <ion-input type="text" [(ngModel)]="search" (keyup)="filter()"></ion-input>
  </ion-item>

    <div *ngFor="let ingredient of ingredients; index as i">
      <ion-item-sliding (ionSwipe)="changeStatus(i)">
        <ion-item>
          <img src={{ingredient.imagen}} width="100px" height="50px">
          <ion-label>{{ingredient.name}}</ion-label>
          <ion-chip color="success" *ngIf="ingredient.active">
            <ion-label>Activo</ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="!ingredient.active">
            <ion-label>Inactivo</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="success" (click)="newIngredient()">
        <ion-icon name="add-circle-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>