<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EN BUSCA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Ingredientes para buscar</ion-label>
    </ion-list-header>
    <div *ngFor="let ingredient of ingredients; index as i">
        <ion-item *ngIf="!ingredient.active">
          <img src={{ingredient.imagen}} width="100px" height="50px">
          <ion-label>{{ingredient.name}}</ion-label>
        </ion-item>
    </div>
  </ion-list>
</ion-content>
